.cim{
    font-family:'Lucida Sans', sans-serif;
    text-align: center;
}
.adatok{
    width: 100%;
    border: solid black;
    background-color: lightgray;
}
.foto{
    padding-right: 20px;
    text-align: end;
}
.info{
    padding-left: 20px;
}
.nagy{
    border: solid black;
    width: 100%;
}
.elerhetoseg{
padding-left: 700px;
}
